$primary-color: #fcd036;
$secondary-color: #a7a7a7;
$background-color: #f6f6f6;
$heading-font-family: 'Montserrat', sans-serif;
$heading-font-weight: 700;
$text-font-family: "Lora", serif;
$line-height-lg: 1.75;

html{
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul{
  list-style: none;
}

a, a:visited{
  color: inherit;
  text-decoration: none;
}

button{
  border: none;
}

@mixin subheadings {
  font-family: $textg-font-family;
  font-style: italic;
  color: $secondary-color;
}

@mixin text-style{
  font-family: $text-font-family;
  color: $secondary-color;
}

@mixin transition{
  transition: all 0.3s ease-in-out;
}

@mixin socials-logo($border, $background-color){
  width: 2.5rem;
  height: 2.5rem;
  margin: 0.5rem;
  padding: 0.25rem;
  text-align: center;
  line-height: 2rem;
  font-size: 1.3rem;
  border: $border;
  border-radius: 50%;
  background-color: $background-color;
}

